<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<nav>
    <ul>
        <li><a href="guitars">Guitarras</a></li>
        <li><a href="baseGuitars">Bajos</a></li>
        <li><a href="pianos">Pianos</a></li>
        <li><a href="wind">Vientos</a></li>
        <li><a href="strings">Cuerdas</a></li>
        <li><a href="drums">Percusión</a></li>
    </ul>
</nav>